<p id="notice"><%= notice %></p>

<p>
  <strong>Qty:</strong>
  <%= @stock.qty %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @stock.shop_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @stock.product_id %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
